<div class="container">
    <div class="signup-section">
        <div class="signup-text">
            <p>Sign Up for the Latest News, Trends & Exclusive Offers!</p>
        </div>
        <div class="signup-input"> 
            <h1 class="signup-title">Sign up for emails</h1>
            <form class="signup-form" action="/" method="POST">
            <input class="form-input" type="text" name="name" placeholder="Name" required>
            <input class="form-input" type="email" name="email" placeholder="Email Address" required>
            <button class="form-submit" type="submit" name="submit">Submit</button>
        </form>
        </div>
    </div>
</div>