*{
  margin:0;
  padding:0;
}
body{
  background-color:#eaeef0;
  font-family: 'Antonio', sans-serif;
  font-size:16px;
}

.container{
  padding:5% 15%;
}

.signup-section{
  margin:5% 0;
  display:flex;
  border-radius: 10px;
}

.signup-text, .signup-input{
  padding:5% 7%;
  text-transform: capitalize;
  line-height:3.5rem;
}

.signup-text{
  background-color:#d8e6ec;
  color:rgb(77, 77, 77);
  font-size:2rem;
  width:55%;
  max-width: 55%;
}
.signup-input{
  background-color:#0c8ccce5;
  color:white;
  width:45%;
  max-width:45%;
}
.signup-form{
  display:flex;
  justify-content: center;
  flex-direction: column;
  
}
.signup-form input{
  margin:0.5rem 0;
}
.form-input{
  font-size:1rem;
  outline:none;
  border:none;
  border-radius: 0.25rem;
  padding:0.3rem 0.75rem;
  font-family: 'Antonio', sans-serif;
  font-weight:200;
}
.form-submit{
  font-family: 'Antonio', sans-serif;
  font-weight:400;
  font-size:0.9rem;
  color:rgb(77, 77, 77);
  margin-top:0.5rem;
  outline:none;
  padding:0.5rem 2rem;
  border:none;
  background-color:#d8e6ec;
  border-radius:0.25rem;
  
}

@media only screen and (max-width: 425px) {
  .container{
    padding:3% 8%;
  }
 .signup-section{
   flex-direction: column;
 }
 .signup-text, .signup-input{
   text-align: center;
   width:100%;
   max-width:100%;
 }

}